body {
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
}

.weather-unit-toggle .btn-primary,
.weather-unit-toggle .btn-primary:focus {
  color: #ffffff;
  background-color: #5f93d6;
  border-color: #5f93d6;
  transition: all 200ms ease-in-out;
}

.weather-unit-toggle .btn-primary:hover,
.weather-unit-toggle .btn-primary:active {
  color: #ffffff;
  background-color: #085ed6;
  border-color: #5f93d6;
}

.weather-unit-toggle .btn-outline-primary,
.weather-unit-toggle .btn-outline-primary:focus {
  color: #5f93d6;
  background-color: #ffffff;
  border-color: #5f93d6;
  transition: all 200ms ease-in-out;
}

.weather-unit-toggle .btn-outline-primary:hover,
.weather-unit-toggle .btn-outline-primary:active {
  color: #ffffff;
  background-color: #085ed6;
  border-color: #5f93d6;
}

.search-button.btn-primary {
  color: #ffffff;
  background-color: #5f93d6;
  border-color: #5f93d6;
  transition: all 200ms ease-in-out;
}

.search-button.btn-primary:hover {
  color: #ffffff;
  background-color: #085ed6;
  border: 1px solid #5f93d6;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-navbar {
  border-bottom: 1px solid #e3ebf4;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 60px;
}

.app-navbar .container {
  display: flex;
  flex-direction: column;
}

.logo {
  cursor: pointer;
}

.search-form {
  margin-top: 15px;
}

.search-form input {
  background-color: #e3ebf4;
  color: rgba(0, 23, 95, 0.7);
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5em;
  border: 1px solid #e3ebf4;
}

.location-button {
  color: #5f93d6;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5em;
  text-decoration: none;
  margin-top: 30px;
  transition: all 200ms ease-in-out;
}

.location-button:hover {
  color: #085ed6;
}

.city-info {
  margin-bottom: 30px;
}

.city-info h1 {
  color: #00175f;
  font-size: 48px;
  font-weight: 700;
  line-height: 1em;
  margin-bottom: 15px;
  text-align: center;
}

.paragraph-style {
  color: #666e7d;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2em;
}

.today-hour {
  text-align: center;
}

.current-weather {
  align-items: center;
  display: flex;
  justify-content: center;
}

.weather-icon {
  width: 100px;
}

.weather-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
}

.weather-info-temperature {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.weather-info-value {
  color: #00175f;
  font-size: 72px;
  font-weight: 700;
  line-height: 1em;
}

.weather-info-unit {
  color: #00175f;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5em;
}

.weather-unit-toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 15px;
}

.weather-info-description {
  margin-bottom: 0;
  text-transform: capitalize;
}

.weather-details .nav {
  flex-direction: column;
  margin-top: 40px;
  text-align: center;
}

.weather-details li {
  list-style: none;
  color: #666e7d;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2em;
}

.weather-details span {
  color: #00175f;
  font-weight: 500;
}

.forecast {
  margin-top: 30px;
  margin-bottom: 30px;
}

.forecast-weather-information {
  border: 1px solid #e3ebf4;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin-bottom: 20px;
}

.forecast-title {
  color: #666e7d;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  line-height: 1.5em;
  margin-bottom: 20px;
}

.forecast-icon {
  width: 40px;
}

.forecast-weather-information p {
  margin-bottom: 0;
}

.forecast-day {
  color: #00175f;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2em;
}

.forecast-description {
  color: #666e7d;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5em;
}

.forecast-max-min {
  color: #666e7d;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.2em;
}

.forecast-maximum-temperature,
.forecast-minimum-temperature {
  color: #00175f;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5em;
}

.footer-info {
  color: #666e7d;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.2em;
  text-align: center;
  padding-top: 20px;
  margin-top: auto;
  border-top: 1px solid #e3ebf4;
}

.footer-info a {
  text-decoration: none;
}

@media screen and (min-width: 992px) {
  .app-navbar .container {
    flex-direction: row;
  }

  .search-form {
    margin-top: 0;
    margin-left: auto;
  }

  .location-button {
    margin-top: 0;
    margin-left: 30px;
  }

  .weather-icon {
    width: 168px;
  }

  .weather-details .nav {
    margin-top: 0;
    text-align: left;
  }
}

/* Dark Mode Version */

@media (prefers-color-scheme: dark) {
  body {
    background-color: #101c42;
  }

  .weather-unit-toggle .btn-primary,
  .weather-unit-toggle .btn-primary:focus {
    color: #101c42;
    background-color: #ffffff;
    border-color: #ffffff;
    transition: all 200ms ease-in-out;
  }

  .weather-unit-toggle .btn-primary:hover,
  .weather-unit-toggle .btn-primary:active {
    color: #101c42;
    background-color: rgba(255, 255, 255, 0.7);
    border-color: #ffffff;
  }

  .weather-unit-toggle .btn-outline-primary,
  .weather-unit-toggle .btn-outline-primary:focus {
    color: #ffffff;
    background-color: #101c42;
    border-color: #ffffff;
    transition: all 200ms ease-in-out;
  }

  .weather-unit-toggle .btn-outline-primary:hover,
  .weather-unit-toggle .btn-outline-primary:active {
    color: #ffffff;
    background-color: rgba(95, 147, 214, 0.6);
    border-color: #ffffff;
  }

  .search-button.btn-primary {
    color: #ffffff;
    background-color: #101c42;
    border-color: #ffffff;
    transition: all 200ms ease-in-out;
  }

  .search-button.btn-primary:hover {
    color: #101c42;
    background-color: #ffffff;
    border: 1px solid #5f93d6;
  }

  .app-navbar {
    border-bottom: 1px solid rgba(95, 147, 214, 0.3);
  }

  .search-form input {
    background-color: #ffffff;
    color: #666e7d;
    border: 1px solid #ffffff;
  }

  .location-button {
    color: #ffffff;
  }

  .location-button:hover {
    color: #ffffff;
    opacity: 0.8;
  }

  .city-info h1 {
    color: #ffffff;
  }

  .paragraph-style {
    color: #ffffff;
  }

  .weather-info-value {
    color: #ffffff;
  }

  .weather-info-unit {
    color: #ffffff;
  }

  .weather-details li {
    color: #ffffff;
  }

  .weather-details span {
    color: #ffffff;
  }

  .forecast-weather-information {
    border: 1px solid rgba(95, 147, 214, 0.3);
  }

  .forecast-title {
    color: #ffffff;
  }
  .forecast-day {
    color: #ffffff;
  }

  .forecast-description {
    color: #ffffff;
  }

  .forecast-max-min {
    color: #ffffff;
  }

  .forecast-maximum-temperature,
  .forecast-minimum-temperature {
    color: #ffffff;
  }

  .footer-info {
    color: #ffffff;
    border-top: 1px solid rgba(95, 147, 214, 0.3);
  }

  .footer-info a {
    color: #ffffff;
    text-decoration: underline;
  }
}
